# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Packaging/build artifacts
build/
dist/
*.egg-info/

# Tests/coverage
.pytest_cache/
.coverage
htmlcov/

# Type checker cache
.mypy_cache/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Other
*.txt